<%- include("template/cabecera",{tituloWeb: 'Error 404'}) %>

    <body>
        <h1>
            Error:
            <%= error %> -
                <br> Descripción:
                <%= descripcion %>
        </h1>
        <%- include("template/footer") %>