<%- include("template/cabecera",{tituloWeb: 'Pagina de Inicio'}) %>

    <body>
        <h1 class="text-primary">Titulo de mi sitio web..</h1>
        <h2>
            <%= titulo %>
        </h2>
        <%- include("template/footer") %>