<%- include("template/cabecera",{tituloWeb: 'Pagina del Servicio'}) %>

    <body>
        <h2>Este es un servicio v.
            <%= version %>
        </h2>

        <%- include("template/footer") %>